* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--light-brown);
  font-family: "Poppins", sans-serif;
  color: var(--text-color);
  scroll-behavior: smooth;

}


/* mobile */

@media screen and (min-width: 320px) and (max-width: 767px) {
 
  .aboutContainer {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-items: center;
  }

  .aboutImg {
    width: 100%;
    height: auto;
  }

  .aboutContent {
    width: 100%;
    padding: 20px;
  }

  .aboutText {
    width: 100%;
    padding-right: 0;
    font-size: 1.2rem;
    line-height: 1.5;
  }

  .aboutText::before {
    display: none;
  }

  }
  
  /* tablet */
  
  @media screen and (min-width: 768px) and (max-width: 991px) {
    .about{
      overflow-x: visible;
    }
    
 .aboutTitle {
    font-family: "Abhaya-Libre", Georgia, "Times New Roman";
    font-size: 2.5rem;
    font-weight: 200;
    padding-top: 20px;
    text-align: center;
  }

  .aboutImg {
    height: 500px;
    border-radius: 10px;
  }

  .aboutContainer {
    display: flex;
    justify-content: center;
    margin-top: 10rem;
    gap: 30px;
  }
  .aboutContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: relative;
    z-index: 1;
    background-color: transparent;
    
  }

  .aboutText {
    text-align: center;
    width: 450px;
    line-height: 30px;
    margin-top: 1.5rem;
    padding-right: 25px;
    
  }

  .aboutText::before {
    display: none;
  }
  
  }
  
  /* desktop */
  
  @media screen and (min-width: 992px) {


.aboutTitle {
    font-family: "Abhaya-Libre", Georgia, "Times New Roman";
    font-size: 2.5rem;
    font-weight: 200;
    padding-top: 20px;
  }

  .aboutImg {
    height: 500px;
    border-radius: 10px;
  }

  .aboutContainer {
    display: flex;
    justify-content: center;
    margin-top: 10rem;
    gap: 30px;
  }
  .aboutContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    position: relative;
    z-index: 1;
    background-color: transparent;
  }

  .aboutText {
    text-align: center;
    width: 450px;
    line-height: 30px;
    margin-top: 1.5rem;
    padding-right: 25px;
  }

  .aboutText::before {
    content: "";
    position: absolute;
    background-color: var(--dark-green);
    width: 85%;
    height: 100%;
    top: -10%;
    right: -25%;
    z-index: -1;
  }


  }