/* variables */

:root {
  --light-brown: #e5d2c4;
  --peach: #ffd9ab;
  --cream: #f9eac1;
  --grayish-green: #80b0aa;
  --dark-green: #70a087;
  --text-color: #404040;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--light-brown);
  font-family: "Poppins", sans-serif;
  color: var(--text-color);
  scroll-behavior: smooth;
  
}

html, body {
  overflow-x: hidden;
}
.about {
  overflow-x: visible; 
}
/* mobile */
@media screen and (min-width: 320px) and (max-width: 767px) {
  /* navbar */

  .navContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);
 
  }
  
  .links {
    opacity: 0;
    visibility: hidden;

    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 20px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 2rem;
    height: 100vh;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    z-index: 999;
    transition: ease-in-out 0.5s;
    & a {
      text-decoration: none;
    }
    & i {
      display: none;
    }
  }

  .links.visible {
    opacity: 1;
    visibility: visible;
    transition: ease-in-out 0.5s;
  }

  .open-menu {
    display: block;
    margin-right: 2rem;
    border: transparent;
    cursor: pointer;
  }

  .open-menu i {
    font-size: 30px;
    color: var(--dark-green);
  }

  .close-menu {
    cursor: pointer;
    width: 35px;
    font-size: 25px;
    border: transparent;
    color: var(--dark-green);
  }

  .logoContainer img {
    max-height: 65px;
    margin-left: 2rem;
  }

  .navContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  /* fin navbar */

  /* hero section */
  .hero-content img {
    width: 100%;
    height: 420px;
    filter: drop-shadow(0 0 5px black);
    opacity: 0.4;
    margin-top: 4rem;


  }

  .overlayHero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: transparent;
    opacity: 0.7;
  }
  .overlayHero span,
  .overlayHero h2 {
    z-index: 1;
    background: transparent;
    text-align: center;
  }

  .hero .button-container {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    background: transparent;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 12px;
  }

  .hero .button-container button {
    margin-right: 5px;
    margin-top: 2rem;
  }

  .hero button {
    padding: 12px;
    border-radius: 5px;
    text-transform: uppercase;
    border-bottom: 5px solid var(--text-color);
    border-right: 4px solid var(--text-color);
    border-top: transparent;
    border-left: transparent;
    width: 150px;
    text-align: center;
    & a {
      text-decoration: none;
    }
  }

  .hero button:hover {
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
  }
  .hero button:active {
    transform: translateY(2px);
    box-shadow: none;
  }
  /* fin hero section */


  /* estilos footer */
  .footerContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-color: #ececec;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.3);
    width: 100%;
  }

  .footerContainer p,
  .footerContainer a {
    background-color: transparent;
    text-align: center;
  }

  .footerContainer a:hover {
    color: var(--dark-green);
    font-weight: 500;
  }
}

/* tablet */
@media screen and (min-width: 768px) and (max-width: 991px) {
  /* navbar */
  .navContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);
  }

  .links {
    opacity: 0;
    visibility: hidden;

    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 20px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 2rem;
    height: 100vh;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    z-index: 999;
    transition: ease-in-out 0.5s;
    & a {
      text-decoration: none;
    }
    & i {
      display: none;
    }
  }

  .links.visible {
    opacity: 1;
    visibility: visible;

    transition: ease-in-out 0.5s;
  }
  .open-menu {
    display: block;
    margin-right: 2rem;
    border: transparent;
    cursor: pointer;
  }

  .open-menu i {
    font-size: 30px;
    color: var(--dark-green);
  }

  .close-menu {
    cursor: pointer;
    width: 35px;
    font-size: 25px;
    border: transparent;
    color: var(--dark-green);
  }

  .logoContainer img {
    max-height: 65px;
    margin-left: 2rem;
  }

  .navContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  /* fin navbar */

  /* estilos hero section */
  .hero-content img {
    width: 100%;
    height: 800px;
    filter: drop-shadow(0 0 5px black);
    opacity: 0.4;
    margin-top: 4rem;
  }

  
  .overlayHero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: transparent;
    opacity: 0.7;
  }

  .overlayHero span:nth-child(1) {
    margin-bottom: 10px;
  }

  .overlayHero span:nth-child(3) {
    margin-top: 10px;
  }

  .overlayHero span,
  .overlayHero h2 {
    z-index: 1;
    background: transparent;
    text-align: center;
    letter-spacing: 5px;
  }

  .overlayHero h2 {
    font-family: "aleo", sans-serif;
    font-size: 8rem;
  }

  .overlayHero span {
    font-size: 1.3rem;
  }

  .hero .button-container {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    background: transparent;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }

  .hero .button-container button {
    margin-right: 10px;
    margin-top: 2rem;
  }

  .hero button {
    padding: 15px;
    border-radius: 5px;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-bottom: 5px solid var(--text-color);
    border-right: 4px solid var(--text-color);
    border-top: transparent;
    border-left: transparent;

    & a {
      text-decoration: none;
    }
  }

  .hero button:hover {
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
  }
  .hero button:active {
    transform: translateY(2px);
    box-shadow: none;
  }
  /* fin estilos hero section */

 




  /* estilos footer */
  .footerContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-color: #ececec;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.3);
  }

  .footerContainer p,
  .footerContainer a {
    background-color: transparent;
  }

  .footerContainer a:hover {
    color: var(--dark-green);
    font-weight: 500;
  }
}

/* desktop */

@media screen and (min-width: 992px) {
  /* estilos navbar */

  .open-menu {
    display: none;
  }

  .close-menu {
    display: none;
  }
  .logoContainer img {
    height: 65px;
    margin-left: 2rem;
  }

  .navContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);
  }

  .logoContainer img {
    height: 65px;
    margin-left: 2rem;
  }

  .navContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);
  }

  .links {
    margin-right: 5rem;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }

  .link-container {
    display: flex;
    align-items: center; /* Alinea verticalmente en el centro */
  }

  .links a {
    text-decoration: none;
    padding: 10px;
    cursor: pointer;
  }

  .links i {
    margin-right: 8px;
  }

  /* Estilos para el hover del contenedor */
  .link-container:hover a,
  .link-container:hover i {
    background-color: var(--cream);
    border-radius: 5px;
  }

  /* fin estilos navbar */

  /* estilos hero section */

  .hero {
    position: relative;
  }

  .hero .hero-content {
    position: relative;
  }

  .hero img {
    width: 100%;
    height: 70rem;
    filter: drop-shadow(0 0 5px black);
    opacity: 0.4;
  }

  .overlayHero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 32%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: transparent;
    opacity: 0.7;
  }

  .overlayHero span:nth-child(1) {
    margin-bottom: 10px;
  }

  .overlayHero span:nth-child(3) {
    margin-top: 10px;
  }

  .overlayHero span,
  .overlayHero h2 {
    z-index: 1;
    background: transparent;
    text-align: center;
    letter-spacing: 5px;
  }

  .overlayHero h2 {
    font-family: "aleo", sans-serif;
    font-size: 8rem;
  }

  .overlayHero span {
    font-size: 1.3rem;
  }

  .hero .button-container {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    background: transparent;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }

  .hero .button-container button {
    margin-right: 10px;
    margin-top: 2rem;
  }

  .hero button {
    padding: 15px;
    border-radius: 5px;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-bottom: 5px solid var(--text-color);
    border-right: 4px solid var(--text-color);
    border-top: transparent;
    border-left: transparent;

    & a {
      text-decoration: none;
    }
  }

  .hero button:hover {
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
  }
  .hero button:active {
    transform: translateY(2px);
    box-shadow: none;
  }
  /* fin estilos hero section */

  

  /* estilos footer */
  .footerContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-color: #ececec;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.3);
  }

  .footerContainer p,
  .footerContainer a {
    background-color: transparent;
  }

  .footerContainer a:hover {
    color: var(--dark-green);
    font-weight: 500;
  }

  /* fin estilos footer */
}
