/* variables */

:root {
 --light-brown: #e5d2c4;
 --peach: #ffd9ab;
 --cream: #f9eac1;
 --grayish-green: #80b0aa;
 --dark-green: #70a087;
 --text-color: #404040;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--light-brown);
    font-family: 'Poppins', sans-serif;
    color: var(--text-color);
    scroll-behavior: smooth;
}



/* mobile */
@media screen and (max-width: 767px) {

}

/* tablet */
@media screen and (min-width: 768px) and (max-width: 1023px) {

}

/* desktop */

    /* estilos navbar */
.logoContainer img{
    height: 65px;
    margin-left: 2rem;
}

.navContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);
}


.logoContainer img {
  height: 65px;
  margin-left: 2rem;
}

.navContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2); 
}

.links {
  margin-right: 5rem;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.link-container {
  display: flex;
  align-items: center; /* Alinea verticalmente en el centro */
}

.links a {
  text-decoration: none;
  padding: 10px;
  cursor: pointer;
}

.links i {
  margin-right: 8px;
}

/* Estilos para el hover del contenedor */
.link-container:hover a,
.link-container:hover i {
  background-color: var(--cream);
  border-radius: 5px;
}

/* fin estilos navbar */

/* estilos hero section */

.hero {
    position: relative;
  }

  .hero .hero-content {
    position: relative;
  }

  .hero img {
    width: 100%;
    height: 70rem;
    filter: drop-shadow(0 0 5px black);
    opacity: 0.4
  }

  .overlayHero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 32%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: transparent;
    opacity: 0.7;
  }

  .overlayHero span:nth-child(1) {
    margin-bottom: 10px;
  }

  .overlayHero span:nth-child(3) {
    margin-top: 10px;
  }

  .overlayHero span,
  .overlayHero h2 {
    z-index: 1;
    background: transparent;
    text-align: center;
    letter-spacing: 5px;
  }

  .overlayHero h2 {
    font-family: 'aleo', sans-serif;
    font-size: 8rem;
  }

  .overlayHero span {
    font-size: 1.3rem;

  }

  .hero .button-container {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    background: transparent;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  gap: 30px;

  }

  .hero .button-container button {
    margin-right: 10px;
    margin-top: 2rem;
  }

  .hero button{
    padding: 15px;
    border-radius: 5px;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-bottom: 5px solid var(--text-color);
    border-right: 4px solid var(--text-color);
    border-top: transparent;
    border-left: transparent;

    & a{
      text-decoration: none;
    }
  }

  .hero button:hover {
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;

}
.hero button:active {
  transform: translateY(2px);
  box-shadow: none;
}
/* fin estilos hero section */


/* estilos about */
.aboutTitle{
  font-family: 'Abhaya-Libre', Georgia, 'Times New Roman';
  font-size: 2.5rem;
  font-weight: 200;
  padding-top: 20px;
}

.aboutImg{
  height: 500px;
  border-radius: 10px;
}

.aboutContainer{
  display: flex;
  justify-content: center;
  margin-top: 10rem;
  gap: 30px;


}
.aboutContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  position: relative;
  z-index: 1;
  background-color: transparent;

}

.aboutText {
  text-align: center;
  width: 450px;
  line-height: 30px;
  margin-top: 1.5rem;
 padding-right: 25px;
}

.aboutText::before {
  content: "";
  position: absolute;
  background-color: var(--dark-green);
  width: 85%;
  height: 100%;
  top: -10%;
  right: -25%;
  z-index: -1;
}

/* estilos services */
.servicesContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 10rem;
}
.servicesTitle{
  font-family: 'Abhaya-Libre', Georgia, 'Times New Roman';
  font-size: 2.5rem;
  font-weight: 200;

}

.titleClarification{
  margin-top: 0;
  font-size: 15px;
}

.imgContainer{
  margin-top: 3rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.imageWrapper {
  position: relative;
  overflow: hidden;
  height: 600px;
  width: 400px;
  overflow: hidden;
}

.imageWrapper img {
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease-in-out;
}

.imageWrapper:hover .overlay {
  opacity: 1;
}

.overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.3s ease;
  box-sizing: border-box;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.overlay h3,
.overlay p {
  margin: 0;
  padding: 10px;
  background: transparent;
  color: #c3c3c3;
  line-height: 1.5; /* Ajusta el espaciado entre líneas */
  text-align: center;
}

/* fin estilos services */

/* inicio estilos donde encontrarnos */
.locationContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  gap: 2rem;
 }


.locationTitle{
  font-family: 'Abhaya-Libre', Georgia, 'Times New Roman';
  font-size: 2.5rem;
  font-weight: 200;
  border-top: 2px solid var(--text-color);
  padding-top: 20px;
  width: 800px;
  text-align: center;

}

.contentContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
  gap: 2rem;
  border-bottom: 2px solid var(--text-color);
 padding-bottom: 50px;
  width: 800px;
  & img {
    width: 30px;
  height: 30px;
  color: var(--text-color);
  }

  & .address{
    display: flex;
    gap: 10px;
  }
}


/* fin estilos donde encontrarnos */


/* background: #80b0aa url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='80' viewBox='0 0 80 80'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='church-on-sunday' fill='%23404040' fill-opacity='0.08'%3E%3Cpath d='M77.17 0H80v2.83l-.1.1A39.9 39.9 0 0 1 74.64 20a39.9 39.9 0 0 1 5.24 17.06l.11.11v2.89c-.01 6.9-1.8 13.79-5.35 19.94A39.96 39.96 0 0 1 80 79.94V80h-2.83L66.84 69.66a39.83 39.83 0 0 1-24.1 10.25l.09.09h-5.66l.1-.1c-8.7-.58-17.22-4-24.1-10.23L2.82 80H0V79.94c.01-6.9 1.8-13.8 5.35-19.94A39.96 39.96 0 0 1 0 40.06V37.17l.1-.1A39.9 39.9 0 0 1 5.36 20 39.9 39.9 0 0 1 .1 2.94L0 2.83V0h2.83l-.1.1a39.83 39.83 0 0 1 24.1 10.24L37.18 0H40c0 6.92-1.78 13.83-5.35 20A39.96 39.96 0 0 1 40 40c0-6.92 1.78-13.83 5.35-20A39.96 39.96 0 0 1 40 0h2.83l10.33 10.34A39.83 39.83 0 0 1 77.26.09L77.17 0zm.77 77.94c-.3-5.52-1.8-11-4.49-16a40.18 40.18 0 0 1-5.17 6.34l9.66 9.66zm-12.52-9.7l-6.83-6.83-5.46 5.46-1.41 1.41-9.66 9.66c8.4-.45 16.69-3.68 23.36-9.7zm-23.07 6.58l7.99-7.98a40.05 40.05 0 0 1-3.79-4.9 37.88 37.88 0 0 0-4.2 12.88zM47.68 60a37.98 37.98 0 0 0 4.07 5.42L57.17 60l-5.42-5.42A38 38 0 0 0 47.68 60zm2.66-6.84a40.06 40.06 0 0 0-3.79 4.9 37.88 37.88 0 0 1-4.2-12.88l7.99 7.98zm1.38-1.44l1.41 1.41 5.46 5.46 6.83-6.84a37.85 37.85 0 0 0-23.36-9.7l9.66 9.67zM60 60l6.87 6.87A38.1 38.1 0 0 0 72.32 60a38.11 38.11 0 0 0-5.45-6.87L60 60zm-14.65 0a39.9 39.9 0 0 0-5.24 17.06l-.11.11-.1-.1A39.9 39.9 0 0 0 34.64 60a39.9 39.9 0 0 0 5.24-17.06l.11-.11.1.1A39.9 39.9 0 0 0 45.36 60zm9.23-48.25a37.85 37.85 0 0 1 23.36-9.7l-9.66 9.67-1.41 1.41-5.46 5.46-6.83-6.84zm13.67 13.67L62.83 20l5.42-5.42A38 38 0 0 1 72.32 20a37.98 37.98 0 0 1-4.07 5.42zm5.2-3.47a40.05 40.05 0 0 1-3.79 4.89l7.99 7.98c-.61-4.45-2.01-8.82-4.2-12.87zm-6.58 4.92l1.41 1.41 9.66 9.66a37.85 37.85 0 0 1-23.36-9.7l6.83-6.83 5.46 5.46zM53.13 13.13L60 20l-6.87 6.87A38.11 38.11 0 0 1 47.68 20a38.1 38.1 0 0 1 5.45-6.87zm-1.41-1.41l-9.66-9.66c.3 5.52 1.8 11 4.49 16a40.18 40.18 0 0 1 5.17-6.34zm-9.66 26.22c.3-5.52 1.8-11 4.49-16a40.18 40.18 0 0 0 5.17 6.34l-9.66 9.66zm26.22 13.78l9.66-9.66c-.3 5.52-1.8 11-4.49 16a40.18 40.18 0 0 0-5.17-6.34zm8.98-11.81L66.84 50.34a39.83 39.83 0 0 0-24.1-10.25l10.42-10.43a39.83 39.83 0 0 0 24.1 10.25zm-7.6-26.75a40.06 40.06 0 0 1 3.79 4.9 37.88 37.88 0 0 0 4.2-12.88l-7.99 7.98zm-31.72 28.9c-8.4.45-16.69 3.68-23.36 9.7l6.83 6.83 5.46-5.46 1.41-1.41 9.66-9.66zM22.83 60l5.42 5.42c1.54-1.7 2.9-3.52 4.07-5.42a38 38 0 0 0-4.07-5.42L22.83 60zm5.45 8.28l-1.41-1.41-5.46-5.46-6.83 6.84a37.85 37.85 0 0 0 23.36 9.7l-9.66-9.67zm9.37 6.54l-7.99-7.98a40.05 40.05 0 0 0 3.79-4.9 37.88 37.88 0 0 1 4.2 12.88zM20 60l-6.87-6.87A38.11 38.11 0 0 0 7.68 60a38.11 38.11 0 0 0 5.45 6.87L20 60zm17.26-19.9L26.84 29.65a39.83 39.83 0 0 1-24.1 10.25l10.42 10.43a39.83 39.83 0 0 1 24.1-10.25zm-35.2 1.96l9.66 9.66a40.18 40.18 0 0 0-5.17 6.33c-2.7-5-4.2-10.47-4.5-16zm4.49 19.89c-2.7 5-4.2 10.47-4.5 16l9.67-9.67a40.18 40.18 0 0 1-5.17-6.33zm31.1-16.77c-.61 4.45-2.01 8.82-4.2 12.87a40.06 40.06 0 0 0-3.79-4.89l7.99-7.98zm-4.2-23.23c2.7 5 4.2 10.47 4.5 16l-9.67-9.67c1.97-1.97 3.7-4.1 5.17-6.33zm-14.86-.54l6.83 6.84a37.85 37.85 0 0 1-23.36 9.7l9.66-9.67 1.41-1.41 5.46-5.46zm-8.25 5.43l-7.99 7.98c.61-4.45 2.01-8.82 4.2-12.87a40.04 40.04 0 0 0 3.79 4.89zm1.41-1.42A37.99 37.99 0 0 1 7.68 20a38 38 0 0 1 4.07-5.42L17.17 20l-5.42 5.42zm-5.2-7.37a40.04 40.04 0 0 1 3.79-4.89L2.35 5.18c.61 4.45 2.01 8.82 4.2 12.87zm6.58-4.92l-1.41-1.41-9.66-9.66a37.85 37.85 0 0 1 23.36 9.7l-6.83 6.83-5.46-5.46zm13.74 13.74L20 20l6.87-6.87A38.1 38.1 0 0 1 32.32 20a38.1 38.1 0 0 1-5.45 6.87zm6.58-8.82a40.18 40.18 0 0 0-5.17-6.33l9.66-9.66c-.3 5.52-1.8 11-4.49 16z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E"); */



/* inicio estilos contacto*/

.containerContacto{
  display: flex;
  justify-content: center;
 margin-top: 5rem;
  flex-direction: column;
  align-items: center;

}

.containerForm{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 60%;
  margin: 5%;
  border : 1px solid gray;
  border-radius: 10px ;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);

}

.inputgroup{
  display: flex;
  flex-direction: column;
  width: 600px;
  padding: 30px 20px 20px 20px;
}

label {
  color: black;
  font-size: 15px;
  margin-bottom: 15px;
  font-weight: 400;
}


input, textarea, select{
  padding: 15px 15px;
  border-radius: 20px;
  margin-bottom: 20px;
  border: 2px solid var(--text-color);
  outline: none;
  resize: none;
}

.radio-container{
  margin-top: 1rem;
}
.button-container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.btnForm{
  font-size: 20px;
  border: 2px solid var(--text-color);
  border-radius: 10px;
  background-color: var(--grayish-green);
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);
  margin-top: 1rem;
  transition: background-color 0.3s ease;
  width: 450px;
  margin-bottom: 20px;
  outline: none;
  resize: none;
  padding: 10px;
}

.btnForm:hover {
  cursor: pointer;
  background-color:#87b8b2;
}

.btnForm:active {
  transform: translateY(2px);
}

.titleForm{
  font-family: 'Abhaya-Libre', Georgia, 'Times New Roman';
  font-size: 2.5rem;
  font-weight: 200;
  text-align: center;

}

.title-container-form{
  background-color: #e5d2c4;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='80' viewBox='0 0 80 80'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='church-on-sunday' fill='%23404040' fill-opacity='0.06'%3E%3Cpath d='M77.17 0H80v2.83l-.1.1A39.9 39.9 0 0 1 74.64 20a39.9 39.9 0 0 1 5.24 17.06l.11.11v2.89c-.01 6.9-1.8 13.79-5.35 19.94A39.96 39.96 0 0 1 80 79.94V80h-2.83L66.84 69.66a39.83 39.83 0 0 1-24.1 10.25l.09.09h-5.66l.1-.1c-8.7-.58-17.22-4-24.1-10.23L2.82 80H0V79.94c.01-6.9 1.8-13.8 5.35-19.94A39.96 39.96 0 0 1 0 40.06V37.17l.1-.1A39.9 39.9 0 0 1 5.36 20 39.9 39.9 0 0 1 .1 2.94L0 2.83V0h2.83l-.1.1a39.83 39.83 0 0 1 24.1 10.24L37.18 0H40c0 6.92-1.78 13.83-5.35 20A39.96 39.96 0 0 1 40 40c0-6.92 1.78-13.83 5.35-20A39.96 39.96 0 0 1 40 0h2.83l10.33 10.34A39.83 39.83 0 0 1 77.26.09L77.17 0zm.77 77.94c-.3-5.52-1.8-11-4.49-16a40.18 40.18 0 0 1-5.17 6.34l9.66 9.66zm-12.52-9.7l-6.83-6.83-5.46 5.46-1.41 1.41-9.66 9.66c8.4-.45 16.69-3.68 23.36-9.7zm-23.07 6.58l7.99-7.98a40.05 40.05 0 0 1-3.79-4.9 37.88 37.88 0 0 0-4.2 12.88zM47.68 60a37.98 37.98 0 0 0 4.07 5.42L57.17 60l-5.42-5.42A38 38 0 0 0 47.68 60zm2.66-6.84a40.06 40.06 0 0 0-3.79 4.9 37.88 37.88 0 0 1-4.2-12.88l7.99 7.98zm1.38-1.44l1.41 1.41 5.46 5.46 6.83-6.84a37.85 37.85 0 0 0-23.36-9.7l9.66 9.67zM60 60l6.87 6.87A38.1 38.1 0 0 0 72.32 60a38.11 38.11 0 0 0-5.45-6.87L60 60zm-14.65 0a39.9 39.9 0 0 0-5.24 17.06l-.11.11-.1-.1A39.9 39.9 0 0 0 34.64 60a39.9 39.9 0 0 0 5.24-17.06l.11-.11.1.1A39.9 39.9 0 0 0 45.36 60zm9.23-48.25a37.85 37.85 0 0 1 23.36-9.7l-9.66 9.67-1.41 1.41-5.46 5.46-6.83-6.84zm13.67 13.67L62.83 20l5.42-5.42A38 38 0 0 1 72.32 20a37.98 37.98 0 0 1-4.07 5.42zm5.2-3.47a40.05 40.05 0 0 1-3.79 4.89l7.99 7.98c-.61-4.45-2.01-8.82-4.2-12.87zm-6.58 4.92l1.41 1.41 9.66 9.66a37.85 37.85 0 0 1-23.36-9.7l6.83-6.83 5.46 5.46zM53.13 13.13L60 20l-6.87 6.87A38.11 38.11 0 0 1 47.68 20a38.1 38.1 0 0 1 5.45-6.87zm-1.41-1.41l-9.66-9.66c.3 5.52 1.8 11 4.49 16a40.18 40.18 0 0 1 5.17-6.34zm-9.66 26.22c.3-5.52 1.8-11 4.49-16a40.18 40.18 0 0 0 5.17 6.34l-9.66 9.66zm26.22 13.78l9.66-9.66c-.3 5.52-1.8 11-4.49 16a40.18 40.18 0 0 0-5.17-6.34zm8.98-11.81L66.84 50.34a39.83 39.83 0 0 0-24.1-10.25l10.42-10.43a39.83 39.83 0 0 0 24.1 10.25zm-7.6-26.75a40.06 40.06 0 0 1 3.79 4.9 37.88 37.88 0 0 0 4.2-12.88l-7.99 7.98zm-31.72 28.9c-8.4.45-16.69 3.68-23.36 9.7l6.83 6.83 5.46-5.46 1.41-1.41 9.66-9.66zM22.83 60l5.42 5.42c1.54-1.7 2.9-3.52 4.07-5.42a38 38 0 0 0-4.07-5.42L22.83 60zm5.45 8.28l-1.41-1.41-5.46-5.46-6.83 6.84a37.85 37.85 0 0 0 23.36 9.7l-9.66-9.67zm9.37 6.54l-7.99-7.98a40.05 40.05 0 0 0 3.79-4.9 37.88 37.88 0 0 1 4.2 12.88zM20 60l-6.87-6.87A38.11 38.11 0 0 0 7.68 60a38.11 38.11 0 0 0 5.45 6.87L20 60zm17.26-19.9L26.84 29.65a39.83 39.83 0 0 1-24.1 10.25l10.42 10.43a39.83 39.83 0 0 1 24.1-10.25zm-35.2 1.96l9.66 9.66a40.18 40.18 0 0 0-5.17 6.33c-2.7-5-4.2-10.47-4.5-16zm4.49 19.89c-2.7 5-4.2 10.47-4.5 16l9.67-9.67a40.18 40.18 0 0 1-5.17-6.33zm31.1-16.77c-.61 4.45-2.01 8.82-4.2 12.87a40.06 40.06 0 0 0-3.79-4.89l7.99-7.98zm-4.2-23.23c2.7 5 4.2 10.47 4.5 16l-9.67-9.67c1.97-1.97 3.7-4.1 5.17-6.33zm-14.86-.54l6.83 6.84a37.85 37.85 0 0 1-23.36 9.7l9.66-9.67 1.41-1.41 5.46-5.46zm-8.25 5.43l-7.99 7.98c.61-4.45 2.01-8.82 4.2-12.87a40.04 40.04 0 0 0 3.79 4.89zm1.41-1.42A37.99 37.99 0 0 1 7.68 20a38 38 0 0 1 4.07-5.42L17.17 20l-5.42 5.42zm-5.2-7.37a40.04 40.04 0 0 1 3.79-4.89L2.35 5.18c.61 4.45 2.01 8.82 4.2 12.87zm6.58-4.92l-1.41-1.41-9.66-9.66a37.85 37.85 0 0 1 23.36 9.7l-6.83 6.83-5.46-5.46zm13.74 13.74L20 20l6.87-6.87A38.1 38.1 0 0 1 32.32 20a38.1 38.1 0 0 1-5.45 6.87zm6.58-8.82a40.18 40.18 0 0 0-5.17-6.33l9.66-9.66c-.3 5.52-1.8 11-4.49 16z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  min-height: 500px;
  width:100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
  gap: 1rem;

  & p {
    font-size: 15px;
  }
}

/* fin estilos contacto */






/* estilos footer */
.footerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background-color: #ffff;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.3);
}

.footerContainer p, .footerContainer a {
  background-color: transparent;
}

.footerContainer a:hover {
  color: var(--dark-green);
  font-weight: 500;
}

/* fin estilos footer */

